*/node_modules/*
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
*/.firebase/

# Firebase config


.firebaserc

# Runtime data
pids
*.pid
*.seed
*.pid.lock

*/dist/*