.card{
    font-family: Mufanpfs;
    color: white;
    text-align: center;
    padding: 2em 2em;
    font-size: 1rem;
    min-width: 275px;
}
.card.minimized{
    padding: 0.6em;
}
.card .title{
    font-size: 2.3rem;
    padding-bottom: 0.5em;
    text-shadow: rgb(176, 203, 255) 0px 0 0.2em;
    line-height: 1;
}
.minimizebutton{
    position: absolute;
    right:10px;
    top:10px;
    border: 1px solid white;
    padding-inline: 0.5em;
    padding-bottom: 0em !important;
    font-size: 0.4rem !important;
    opacity: 0.3;
    cursor: pointer;
}
.minimizebutton:hover{
    border: 3px solid white;
    font-size: 0.6rem !important;
    opacity: 0.6;
}
.maximizename{
    padding-top: 0.5em;
    font-size: 1rem !important;
    padding-bottom: 0px !important;
}
.card .content{
    font-size: 1.6rem;
    color: #ffffff7a;
    text-shadow: rgba(176, 203, 255) 0px 0 0.2em;
    line-height: 1;
}
.card .textanimation{
    font-size: 1.9rem;
    color: #ffffffa5;
    text-shadow: rgb(176, 203, 255) 0px 0 0.2em;
}


@keyframes morph 
{
    0%,20%,80%,100% 
    {
        filter: blur(0px);
        opacity: 1;
    }

    40%,60%
    {
        filter: blur(5em);
        opacity: 0;
    }
}

.textanimation div {
    height: 0px;
    animation: morph 10s infinite ease-in-out;
}

.textanimation :last-child {
    margin-bottom: 1.2em;
}