.submenu{
    background-color: rgba(0, 0, 0, 0.09);
    border-top: 5px solid rgba(0, 0, 0, 0.153);
    padding: 0.1em 0.5em;
}
.submenu > label{
    display: block;
}
.profilesubmenuinput{
    font-family: Mufanpfs;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    background-color: rgba(255, 255, 255, 0.418);
    margin-left: 0.3em;
    border-color: transparent;
}
.profilesubmenusubmit{
    background-color: transparent;
    border: 4px solid rgb(138, 122, 188);
    padding-inline: 0.6em;
    font-family: Mufanpfs;
    font-size: 1.2rem;
}
.profilesubmenusubmit:hover{
    background-color: rgba(0, 0, 0, 0.132);
    cursor: pointer;
}