.contactpagecard{
    font-family: Mufanpfs;
    color: #ffffffc3;

    padding: 2em 2em;
    max-width: 700px;
    margin-inline: auto;
}
.contactpagecard .title{
    font-size: 2.3rem;
    padding-bottom: 0.5em;
    text-shadow: rgb(176, 203, 255) 0px 0 0.2em;
    text-align: center;
}
.contactpagecard .content{
    font-size: 1.6rem;
    color: #ffffff7a;
    text-shadow: rgba(176, 203, 255) 0px 0 0.2em;
}
.contactpageicon{
    display: inline;
    width: 3em !important;
    transition-delay: 0.5s !important;
}
.contacticons{
    width: fit-content;
    margin-inline:auto;
    display: flex;
    gap:1em;
}