.canvastipandcanvas{
    font-family: Mufanpfs;
    font-size: 1.2rem;
    color: rgb(187, 187, 187);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tooltipclosebutton
{
    font-family: Mufanpfs;
    font-size: 1rem;
    margin-inline: 0.5em;
    padding-inline: 0.2em;
    background-color: rgb(28, 52, 73);
    color: rgb(187, 187, 187);
    border-width: 0em;
}
.tooltipclosebutton:hover,.tooltipclosebutton:focus{  
    text-shadow: rgb(255, 255, 255) 0px 0 0.4em;
}